
.wrapper {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}


.box {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: white;
  background-color: black;

}

button {
     position: relative;
}
